*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
}

div{
    position: relative;
    width: 900px;
    height: 550px;
    background-color: #fff;
    z-index: 1;
    float: right;
    padding: 20px 10px;

}

h1{
    text-align: right;
    margin-bottom: 10px;
}

p{
    position: relative;
    font-weight: 600;
    text-align: right;
    margin-bottom: 15px;
}